@import url('../../../constants/colors/colors.css');

.men-profile h3{
    color: var(--white);
    background-color: var(--secondary_color);
}
.men-profile img {
    width: 150px;
    border-radius: 40px;
    border-color: var(--tertiary_color);
    border-style: solid;
}