.general-btn{
    background-color: var(--primary_color);
    color: #fff; 
    width: 50px; 
    height: 50px;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    transition: background-color 0.4s, transform 0.1s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    overflow: hidden; 
  }
  
  .general-btn:hover {
    background-color: #fff;
  }
  
  .general-btn:hover i, .general-btn:hover svg {
    color: var(--primary_color);
  }
  
  .general-btn:active {
    transform: translateY(4px);
  }
  
  .general-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    opacity: 0;
    border-radius: 50%;
    transition: opacity 0.3s, transform 0.4s;
    transform: scale(0);
  }
  
  .general-btn:hover::after {
    opacity: 1;
    transform: scale(1.2);
  }
  