.card2 {
    padding: 1-px;
    box-shadow: 0 0 5px #ffdfdf;
    border-radius: 5px;
    overflow:hidden;
}

.card2 .top{
    text-align: center;
}

.card2 button{
    outline: 0;
    border:0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    padding: 8px 13px;
    width: 100%;
    background: #0086fe;
}

.card2 .drag-area{
    height: 150px;
    border-radius: 5px;
    border: 2px dashed #0086fe;
    color: #0086f3;
    background: #f4f3f9;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 10px;
}

.card2 .drag-area .visible{
    font-size: 10px;
}
.card2 .select{
    color: #5256ad;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.card2 .select:hover{
    opacity: 0.6;
}

.card2 .container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}
.card2 .container .image{
    width: 75px;
    margin-right: 5px;
    height: 75 px;
    position: relative;
    margin-bottom: 8px;
}

.card2 .container .image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card2 .container .image span{
position: absolute;
top: -2px;
right: 9px;
font-size: 20px;
cursor: pointer;

}

.card2 input, .card2 .drag-area .on-drop, .card2 .drag-area.dragover .visible{
    display: none;
}

.delete{
    z-index:999;
    color:#0086fe;
}