@import url('../../../constants/colors/colors.css');
body{
    margin: 0;
}
.intro-sec h2,
.skills-sec h2,
.challenges-sec h2,
.references-sec h2 {
    background-color: var(--primary_color);
    color: white;
    padding: 8px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0;
    text-align: center;
}
.intro-sec{
    display: flex;
    margin: 0;
    padding: 0;
}