@import url('../../../constants/colors/colors.css');

body{
    margin: 0;
    background-color: var(--primary_color);
}
h2{
    font-weight: 300;
}
h3{
    font-weight: 250;
}
.main {
    background-color: white;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }
.top-sec .banner-container {
    position: relative;
    max-width: 1400px;
    min-width: 950px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
  
.top-sec .banner {
  width: 100%;
}

.top-sec .profile {
  text-align: center;
  margin-top: -232px;
  position: relative;
}

.top-sec h3 {
  background-color: var(--tertiary_color);
  font-family: 'Ultra';
  color: white;
  padding: 10px;
  width: 15%;
  border-radius: 10px;
  margin: 10px auto;
  position: relative;
  z-index: 1;
}
video{
    min-width: 350px;
    max-width: 470px;
    margin: 20px;
}
.intro-sec h2,
.skills-sec h2,
.challenges-sec h2,
.references-sec h2 {
    font-family: 'Ultra';
    background-color: var(--tertiary_color);
    color: white;
    padding: 8px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.skill-vid, .intro-vid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 33.33%;
    min-width: 330px;
}
.top-sec h3{
    font-size: x-small;
    height: 10px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.education{
    width: 33.33%;
    min-width: 300px;
    display: flex;
  flex-direction: column;
  align-items: center;
}
.education-text {
    text-align: center;
    width: 100%;
    padding-top: 10%;
}
.education-text h4{
    font-family: 'Ultra';
    font-weight: 550;
    font-size: x-large;
}

.intro-sec{
    display: flex;
    width: 100%;
}

.profile img {
    width: 150px;
    border-radius: 40px;
    border-color: var(--tertiary_color);
    border-style: solid;
}

.company-name{
    font-family: 'Ultra';
    color: var(--tertiary_color);
    margin-bottom: 0px;
    margin: 0;
}
.reference-item{
    margin: 10px;
    max-width: 1200px;
    min-width: 700px;
    margin-bottom: 15px;
}
.company-email{
    font-family: 'Ultra';
    color: var(--secondary_color);
    margin: 0;
    padding: 5px;
    margin-bottom: 0px;
}
.top-company{
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}
.references-sec p{
    margin-top: 1px;
    margin-bottom: 0px;
    font-weight: 200;
    font-size: larger;
}
.middle-container {
    display: flex;
    align-items: flex-start;
}

.Maybolin-AI {
    background-color: var(--tertiary_color);
    color: white;
    border: 100px;
    border-bottom-left-radius: 10px;
    padding: 185px;
    width: 40%;
    min-width: 400px;
}
.challenges-sec{
    width: 50%;
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.references-sec{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media only screen and (max-width: 768px) {
    .main{
        background-color: white;
        max-width: 100%;
        margin: 0 auto;
        flex-wrap: none;
        justify-content: none;
    }
    .banner{
        width: 100%;
        min-width: 500px;
    }
    .sec{
        width: 100%;
    }
    .sec.challenges-sec {
        width: 100%;
        order: 1; 
    }
    video{
        width: 10px;
        min-width:300px;
    }
    .skill-vid, .intro-vid {
        display:grid;
        flex-wrap: none;
        justify-content: none;
        width: 100%;
        min-width: 10px;
        max-width: 600px;
    }
    .education{
        width: 100%;
    }
    .intro-sec{
        display: grid;
        width: 100%;
    }
    .reference-item{
        margin: 10px;
        max-width: 800px;
        min-width: 0px;
        margin-bottom: 15px;
    }
    .intro-sec h2,
    .skills-sec h2,
    .challenges-sec h2,
    .references-sec h2 {
        font-family: 'Ultra';
        background-color: var(--tertiary_color);
        color: white;
        padding: 4px;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        font-size: medium;
    }
    .Maybolin-AI{
        padding: 10px;
        min-width: 0px;
        max-width: 100%;
        width: 100%;
        order: 2;
        border-bottom-left-radius: 0;
        padding-left: 50%;
        padding-right: 0%;
    }
    .Maybolin-AI p{
        font-size: medium;
        width: 200px;
    }
    .middle-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .top-sec .banner-container{
        position: none;
        min-width: 0px;
        margin: 0;
        justify-content: none;
        align-items: none;
    }
      
    .top-sec .banner {
      max-width: 100%;
      min-width: 0;
    }
    .profile{
        width: 100%;
    }
    .profile img {
        width: 50px;
        border-radius: 20px;
        border-color: var(--tertiary_color);
        border-style: solid;
        margin: 0px;
    }
    
    .top-sec .profile {
        text-align: center;
        margin-top: -90px;
        position: relative;
      }
    .education-text h4{
        font-size: medium;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .education-text{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}