.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--primary_color);
    padding: 10px 0;
}

.navbar-image {
    width: 200px;
    margin: 10px;
    height: auto;
    filter: invert(100%) brightness(200%) contrast(200%);
}