@import url('../../../constants/colors/colors.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
.searchContainer {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 25px;
    padding: 8px;
    position: relative;
    margin-top: 0px;
    max-width: 1200px;
  }
  
  .searchInput {
    flex: 1;
    border: 1px solid var(--primary_color);
    outline: none;
    padding: 20px 40px 20px 50px;
    border-radius: 5px;
    font-size: 16px;
    width: 600px;
    margin: 0px;
    color: var(--primary_color);
    background-color: white;
    background-image: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-solid-900.svg#search');
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 25px;
  }
  .searchButton {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 30px;
    color: var(--primary_color);
    cursor: pointer;
  }
  
  .searchButton i {
    margin-right: 0;
    cursor: pointer;
  }
  
  .userList {
    list-style: none;
    margin-top: 0;
    padding: 0;
  }
  
  .userItem {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--primary_color);
    color: white;
    font-size: x-large;
    margin-bottom: 10px;
  }
  
  .userItem img {
    width: 40px;
    background-color: white;
    height: 40px;
    padding: 10px;
    margin-right: 10px;
  }